# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.venv/
ENV/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# FastAPI/Starlette
instance/

# Local env files
.env.*

# Misc
*.sqlite3
*.db

# Ignore requirements lock files
poetry.lock
Pipfile.lock
